<div id="login">

    

    <form [formGroup]="formGroup">

        <h1>CAMBIAR CONTRASEÑA</h1>
        <div id="inputs">
            <div id="email">
                <label for="email">Contraseña</label>
                <input type="password" formControlName="contrasenya">
            </div>
            <div id="contrasenya">
                <label for="contrasenya">Confirmar contraseña</label>
                <input type="password" name="" id="" formControlName="con_contrasenya">
            </div>
            <div id="button">
                <button (click)="doChangePassword( )">Cambiar contraseña</button>
            </div>
            
        </div>
        
    </form>

</div>