<app-navbar rol="administrador"></app-navbar>
<div id="mascota-crud">
    <h1>MASCOTA CRUD</h1>
    <div id="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Raza</td>
                    <td>Detalle</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </thead>
            <tbody>
                @for (mascota of mascotas; track mascota.id) {
                    <tr>
                        <td>{{mascota.id}}</td>
                        <td>{{mascota.nombre}}</td>
                        <td>{{mascota.raza}}</td>
                        <td><i class="fa-solid fa-eye" (click)="redirectoTo('mascota-crud/detalle/' + mascota.id)"></i></td>
                        <td><i class="fa-solid fa-pencil" (click)="redirectoTo('mascota-crud/editar/' + mascota.id)"></i></td>
                        <td><i class="fa-solid fa-trash" (click)="deleteMascota(mascota.id,$event)"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="button">
        <button (click)="redirectoTo('mascota-crud/crear')">Añadir nueva mascota</button>
    </div>
    
</div>
