img {
    border: 1px solid;
    width: 300px;
    border-radius: 60px;
}

#mascota {
    text-align: center;
    padding: 40px;
    font-family: 'Manjari';
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
}

h1 {

    font-size: 70px;
}

#button {
    padding: 20px;
}

#incidencia-mascota {
    padding: 20px;
}

#incidencia-list{
    display: flex;
    justify-content: center;
    padding: 75px;
  }

  td {
    width: 500px;
  }

thead td {
    font-size: 45px;
}

thead tr{
    height: 130px;
    color:white;
    background-color: #F38181;
}

table {
    border-collapse: collapse;
    border-spacing: 10px 5px;
}

button {
    padding: 20px;
    background-color: #F38181;
    font-family: 'Manjari';
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    transition: 300ms;
}



tbody td{
 font-size: 20px; 
 padding: 16px;
 border: 1px solid;  
}

.new {
    font-weight: bolder;
    animation: beat .25s infinite alternate;
}


i {
    font-size: 50px;
    color:#F38181;
    transition: 300ms;
}

i:hover {
    transform: scale(0.9);
    cursor: pointer;
}

#status {
    font-size: 40px;
}

button:hover {
    transform: scale(0.9);
    cursor: pointer;
}