#report-incidencia {
  padding: 40px;
}

h1 {
  text-align: center;
  font-family: "Manjari";
  padding: 35px;
  font-size: 50px;
}

#report-incidencia-wrapper {
  display: flex;
  justify-content: space-around;
}

#input {
  display: flex;
  width: 790px;
}



form {
}

#button {
  padding: 40px;
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  padding: 20px;
  background-color: #f38181;
  border: 0;
  border-radius: 10px;
  font-family: "Manjari";
  font-size: 17px;
  transition: 300ms;
}

input[type="submit"]:hover {
  transform: scale(0.9);
  cursor: pointer;
}

label {
  align-self: center;
  margin-right: 40px;
  font-size: 20px;
  font-family: "Manjari";
  font-weight: bold;
}

img {
  width: 725px;
}

textarea {
  border: 1px solid;
  border-radius: 10px;
  resize: none;
  width: 400px;
  min-height: 246px;
  padding: 20px;
  font-family: "Manjari";
  font-size: 19px;
}
