<div id="login">

    

    <form [formGroup]="formGroup">

        <h1>LOGIN</h1>
        <div id="inputs">
            <div id="email">
                <label for="email">Correo Electrónico</label>
                <input type="text" formControlName="email">
            </div>
            <div id="contrasenya">
                <label for="contrasenya">Contraseña</label>
                <input type="password" name="" id="" formControlName ="contrasenya">
            </div>
            <div id="button">
                <button (click)="doLogin( )">Entrar</button>
            </div>
            
        </div>
        
    </form>

</div>