<app-navbar rol="administrador"></app-navbar>
<div id="mascota-crud">
    <h1>LISTADO DOCTORES</h1>
    <div id="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Apellidos 1</td>
                    <td>Detalle</td>
                    <td>Editar</td>
                    <td>Reset</td>
                    <td>Borrar</td>
                </tr>
            </thead>
            <tbody>
                @for (doctor of doctores; track doctor.id) {
                    <tr>
                        <td>{{doctor.id}}</td>
                        <td>{{doctor.nombre}}</td>
                        <td>{{doctor.apellidos1}}</td>
                        <td><i class="fa-solid fa-eye" (click)="redirectoTo('doctor-crud/detalle/' + doctor.id)"></i></td>
                        <td><i class="fa-solid fa-pencil" (click)="redirectoTo('doctor-crud/editar/' + doctor.id)"></i></td>
                        <td><i class="fa-solid fa-arrows-rotate" (click)="resetContrasenya(doctor)"></i></td>
                        <td><i class="fa-solid fa-trash" (click)="deleteDuenyo(doctor.id,$event)"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="button">
        <button (click)="redirectoTo('doctor-crud/crear')">Añadir nuevo doctor</button>
    </div>
    
</div>
