* {
    font-family: 'Manjari';
}

h1 {
    text-align: center;
    font-size: 50px;
}

.notif {
    border: 1px solid;
   
    width: 1400px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bolder;
    padding-left: 30px ;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    transition: 300ms;
    margin-bottom: 20px;
    
}

.notif:hover {
    transform: scale(0.9);
    cursor: pointer;
}


#notificaciones {
padding: 20px;

}

.status {
    align-self: flex-end;
    color: #F38181;
}

button {
    padding: 20px;
    background-color: #f38181;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 66px;
    transition: 300ms;
}

button:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.status,.sobre {
    font-size: 20px;
}

#buttons {
    padding: 30px;
    display: flex;
    justify-content: center;
  }