<app-navbar [rol]="rol"></app-navbar>
<div id="citas">
    @if (rol === "duenyo") {
        <h1>Tus citas</h1>
        @for (cita of citas; track cita.id) {
            @if (status(cita) !== "past") {
                <div class="cita {{status(cita)}}">
                    <h2>{{getFullDate(cita.date)}} {{cita.time}}</h2>
                    <p>Cita con el doctor {{cita.doctor.nombre}} {{cita.doctor.apellidos1}} para tu mascota {{cita.mascota.nombre}}</p>
                </div>
            }   
        }
    } @else {
        <h1>Citas programadas</h1>
        @for (cita of citas; track cita.id) {
            @if (status(cita) !== "past") {
                <div class="cita {{status(cita)}}">
                    <h2>{{getFullDate(cita.date)}} {{cita.time}}</h2>
                    <p>Añadiste una cita para la mascota {{cita.mascota.nombre}}</p>
                </div>
            }
        }
    }

</div>
