<div id="admin">
  <div id="options">
    <div class="option" (click)="redirectoTo('mascota-crud')">
      <div class="img-wrapper">
        <img src="../../assets/img/dog-pet-small-dog.jpg" alt="" />
      </div>
      <h2>Mascotas</h2>
    </div>
    <div class="option" (click)="redirectoTo('doctor-crud')">
      <div class="img-wrapper">
        <img
          src="../../assets/img/portrait-of-a-happy-young-doctor-in-his-clinic-royalty-free-image-1661432441.jpg"
          alt=""
        />
      </div>
      <h2>Doctores</h2>
    </div>

    <div class="option" (click)="redirectoTo('duenyo-crud')">
      <div class="img-wrapper">
        <img src="../../assets/img/5fbb8ec7d18da.jpeg" alt="" />
      </div>
      <h2>Dueños</h2>
    </div>
  </div>
</div>
