<app-navbar rol="administrador"></app-navbar>

<div id="mascota">
    <h1>Detalle de mascotaa</h1>
    <div id="form-wrapper">
        <form action="" [formGroup]="formgroup">
            <div class="input" >
                <label for="">Nombre: </label>
                <input type="text" formControlName="nombre" >
            </div>
            <div class="input" id="nacimiento">
                <label for="">Nacimiento: </label>
                <input type="date"  formControlName="nacimiento">
            </div>
            <div class="input">
                <label for="">Sexo:</label>
                <select name="sex" id=""  formControlName="sex" >
                    <option value="macho">Macho</option>
                    <option value="hembra">Hembra</option>
                </select>
            </div>
            <div>
                <label for="">Dueño</label>
                <select name="duenyo" id=""  formControlName="duenyo" >
                    @for (duenyo of duenyos; track duenyo.id) {
                        <option value="{{duenyo.id}}">{{getFullName(duenyo)}} -- {{duenyo.id}}</option>
                    }
                </select>
            </div>
            <div class="input">
                <label for="">Raza: </label>
                <input type="text" formControlName="raza"> 
            </div>
            <div id="foto">
                <div class="input">
                    <label for="">Foto: </label>
                    <input type="file" name="" id="" (change)="previewFile()">
                </div>
                <div id="img">
                    <img src="" alt="">
                </div>
            </div>
           
            <div id="button">
                <input type="submit" value="Crear" (click)="add()">
            </div>
        </form>
    </div>
</div>