<app-navbar rol="administrador"></app-navbar>

<div id="editar-doctor">
    <h1>Editar doctor</h1>
    <div id="form-wrapper">
        <form action="" [formGroup]="formgroup">
            <div class="input" >
                <label for="">Nombre: </label>
                <input type="text" formControlName="nombre" [ngModel]="doctor.nombre">
            </div>
            <div class="input">
                <label for="">Apellidos 1:</label>
                <input type="text" name="apellidos1" id="" value="{{doctor.apellidos1}}" formControlName="apellidos1" [ngModel]="doctor.apellidos1">
            </div>
            <div class="input">
                <label for="">Apellidos 2:</label>
                <input type="text" name="apellidos2" id="" value="{{doctor.apellidos2}}" formControlName="apellidos2" [ngModel]="doctor.apellidos2">
            </div>
            <div class="input" id="nacimiento">
                <label for="">Nacimiento: </label>
                <input type="date"  formControlName="nacimiento" ngModel="{{doctor.nacimiento| date:'yyyy-MM-dd'}}">
            </div>
           
            <div class="input">
                <label for="">Residencia:</label>
                <input type="text" name="residencia" id="" value="{{doctor.residencia}}" formControlName="residencia" [ngModel]="doctor.residencia">
            </div>
            <div class="input">
                <label for="">Telefono:</label>
                <input type="tel" name="telefono" id="" value="{{doctor.telefono}}" formControlName="telefono" [ngModel]="doctor.telefono">
            </div>
            <div id="button">
                <input type="submit" value="Editar" (click)="edit()">
            </div>
        </form>
    </div>
</div>