

#logo i {
align-self: center;
margin-left: 20px;
padding: 10px;
color:#F38181;
font-size: 90px;
}

#logo {
    display: flex;

    width: 220px;

}


#find i {
    transition: 300ms;
    }

#find i:hover {
cursor: pointer;
transform: scale(0.9);
}


#logo:hover {
    cursor: pointer;
}


#nav {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
}

#find {
    display: flex;
    margin-left: 180px;
}


#find form {
    align-self: center;
    display: flex;
}

form i {
    align-self: center;
   padding: 10px;
   font-size: 25px;
}

form input {
    margin-left: 50px;
    align-items: center;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 25px;
    font-family: 'Manjari';
}



h3 {
    text-align: center;
    font-size: 23px;
    color:#F38181;
    font-family: 'Rowdies';
    align-self: center;
}

ul {
    padding: 0;
    display: flex;
    
}

i {

    color:#F38181;
}

ul > * {
 margin-left: 60px;
 font-size: 23px;
 font-family: 'Manjari';
 color: #F38181;
 align-self: center;
 list-style: none;
 transition: 300ms;
}

#right-side {

    display: flex;
    justify-content: space-around;
}

#right-side i {
    font-size: 50px;
    margin-left: 60px;
}

#icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icons > * {

    margin-left: 20px;
    transition: 300ms;
}


#icons > *:hover,ul > *:hover {
    transform: scale(0.9);
    color: black;
    cursor: pointer;
}

#yellow-bell {
    color: rgb(239, 239, 103);
}