<div id="footer">
  <div id="logo" (click)="redirectToMain()">
    <i class="fa-solid fa-paw"></i>
    <h3>VETERINARIO BELEN</h3>
  </div>

  <div id="right-side">
    <ul>
      @if (rol == "duenyo") {
      <li>Galería</li>
      } @if (rol == "doctor") {
        
      }
    </ul>
    <div id="icons">
      @if (rol != "administrador") {
        <i class="fa-solid fa-calendar" (click)="redirectToCitas()"></i>
        @if (lenght > 0) {
          <i class="fa-solid fa-bell" id="yellow-bell" (click)="redirectToNotifications()"></i>
        } @else {
          <i class="fa-regular fa-bell"  (click)="redirectToNotifications()"></i>
        }
      }
      <i class="fa-solid fa-right-from-bracket" (click)="logout()"></i>
    </div>
  </div>
</div>
