<app-navbar rol="duenyo"></app-navbar>
<div id="publicacion">

    <div id="left-side">
        <img src="{{publicacion.photo_url}}" alt="">
        <div id="icons">
            <div id="me-gusta">
                @if (containsMeGusta()) {
                    <i class="fa-solid fa-heart" (click)="dislike()"></i>
                } @else {
                    <i class="fa-regular fa-heart" (click)="like()"></i>
                }
                
                <h3> {{publicacion.megustas.length}}</h3>
            </div>
            
        </div>
        <div id="text">
            <p>{{publicacion.descripcion}}</p>
        </div>
    </div>
    <div id="right-side">
        <div id="comentarios">
            @for (comentario of publicacion.comentarioDTOs; track comentario.id) {
                <div class="comentario">
                    <h3>{{getFullName(comentario.duenyo)}}</h3>
                    <div class="comentario-content">
                        <img src="{{comentario.duenyo.foto ? comentario.duenyo.foto :'../../assets/img/user.jpg'}}" alt="" (click)="redirectToPublicaciones(comentario.duenyo.id)">
                        <div class="texto">
                            <p>{{comentario.texto}}</p>
                        </div>
                    </div>
                    
                </div>
                
            }
        </div>
        <form [formGroup]="formgroup">
            <input type="text" name="" id="" formControlName="texto" placeholder="Comenta algo...">
            <i class="fa-solid fa-paper-plane" (click)="enviarComentario()"></i>
        </form>
    </div>

</div>