<div id="duenyo">
    <div id="welcome">
         <h2>{{getWelcomeTextByHour()}}, {{duenyo.nombre}}</h2>
         <img src="../../assets/img/image 5.png" alt="">
    </div>
    <div id="mascotas-div">
        <h4>Tus mascotas</h4>
        <div id="mascotas">
            @for (mascota of mascotas; track mascota.id) {
                <div class="card-mascota">
                    <img src="{{mascota.foto != null ? mascota.foto : '../../assets/img/perro-19670.jpg'}}" alt="">
                    <h1>{{mascota.nombre}}</h1>
                    <div id="buttons">
                        <button (click)="gotoMascotaById(mascota.id)">Ver</button>
                        <button (click)="reportIncidencia(mascota.id)">Incidencia</button>
                    </div>
                </div>
            }
            
        </div>
    </div>

    <app-weather></app-weather>
</div>