<app-navbar rol="administrador"></app-navbar>
<div id="mascota-crud">
    <h1>DUEÑO CRUD</h1>
    <div id="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Apellidos 1</td>
                    <td>Detalle</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </thead>
            <tbody>
                @for (duenyo of duenyos; track duenyo.id) {
                    <tr>
                        <td>{{duenyo.id}}</td>
                        <td>{{duenyo.nombre}}</td>
                        <td>{{duenyo.apellidos1}}</td>
                        <td><i class="fa-solid fa-eye" (click)="redirectoTo('duenyo-crud/detalle/' + duenyo.id)"></i></td>
                        <td><i class="fa-solid fa-pencil" (click)="redirectoTo('duenyo-crud/editar/' + duenyo.id)"></i></td>
                        <td><i class="fa-solid fa-trash" (click)="deleteDuenyo(duenyo.id,$event)"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="button">
        <button (click)="redirectoTo('duenyo-crud/crear')">Añadir nueva dueño</button>
    </div>
    
</div>
